/*App.css*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

#root,html,body,.app{
    height: 100%;
    width: 100%;
}

.spinner__container {
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.selected { 
    background-color: #506d7e21;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 