/*App.css*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

#root,html,body,.app{
    height: 100%;
    width: 100%;
}